.nav {
  background: #131313;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index:1000;
}

.nav_btns{
  background: #131313;

  display: flex;
  padding: 0px 6.88%;
}

.nav_btn{
  background: #131313;

  display: inline-block;
  padding: 0px 6.88%;
}

.nav_logo{
  background: #131313;

  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  margin-right: 47%;
  color:#E50914;
}
